doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/hello-backbone.css')
  body
    h1= title
    p This is my attempt to write tests for backbone based on 
      a(href='http://arturadib.com/hello-backbonejs/') this tutorial.

    script(src='../js/hello-backbone.min.js')