extends layout

block content
  h1= title
  p Backbone Tutorial Series
  ol
    li
      a(href='/basics') Backbone Basics
    li
      a(href='/todo-app') Todo App
    li
      a(href='/hello-backbonejs') Hello Backbone.JS